<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img class="sidenav-image" src="assets/upec-logo.svg" alt="UPEC Logo" />
    </mat-toolbar>
    <mat-nav-list>
      <h3 matSubheader>Évènements</h3>
      <a mat-list-item href="#">
        <mat-icon mat-list-icon>event_available</mat-icon>
        <span mat-line>À venir</span>
      </a>
      <a mat-list-item href="#">
        <mat-icon mat-list-icon>event_busy</mat-icon>
        <span mat-line>Passés</span>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Actualités</h3>
      <a mat-list-item href="#">
        <mat-icon mat-list-icon>notifications</mat-icon>
        <span mat-line>Annonces</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>UPEC Entrepreneurs</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
